extends base.pug

block title
  title Business Design

block body
  body
    header
      .logo
        h2 BD
        h3 Business Design
      .social
        p Join the converstion
        ul
          li
            a(href="#")
              i.fa.fa-facebook-official
          li
            a(href="#")
              i.fa.fa-twitter-square
          li
            a(href="#")
              i.fa.fa-google-plus-square
          li
            a(href="#")
              i.fa.fa-youtube-square
      nav
        ul.main-nav
          li
            a(href="#")
              i.fa.fa-home Home
          li
            a(href="#")
              i.fa.fa-info About us
          li
            a(href="#")
              i.fa.fa-wrench Services
          li
            a(href="#")
              i.fa.fa-pencil Blog
          li
            a(href="#")
              i.fa.fa-envelope Contact
        form
          span.search
            input(type="text",placeholder="search")
            a(href="#")
              i.fa.fa-search
    .slider
      a.slider-prev(href="#")
        i.fa.fa-chevron-left
      a.slider-next(href="#")
        i.fa.fa-chevron-right
      img.slide-image(src="../img/mobile-devices.png")
      .slide-content
        h3.slider-title Business Services
          br
          span for the Twenty-First Century
        a.slider-button(href="#") LEARN MORE &nbsp;
          i.fa.fa-angle-double-right
          br
          span Find out how we can help your business
    .row
      .column-two-thirds
        h3 Who We Are
        p.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime modi perferendis sint voluptatum placeat suscipit, quidem veniam nostrum molestiae dolorem dignissimos eius asperiores cumque enim magnam expedita sit, aliquid tempore.
        p.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo praesentium possimus odio sunt ea deserunt beatae porro nam quam facere sapiente provident, perferendis laborum obcaecati iusto hic, rerum ipsum at.
        p.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt asperiores, quidem aspernatur laudantium odio impedit maiores quae, officia provident dolore tenetur natus eaque, illo veritatis sint enim dicta autem. Repellat.
      .column-one-third
        h3 From the Blog
        ul.fa-ul
          li
            i.fa-li.fa.fa-check-circle
            strong lorem
            br
            June 1, 2013 by Mike Milton
          li
            i.fa-li.fa.fa-check-circle
            strong lorem
            br
            May 1, 2013 by Janey Tompson
          li
            i.fa-li.fa.fa-check-circle
            strong lorem
            br
            June 1, 2013 by Harry Milton
          li
            i.fa-li.fa.fa-check-circle
            strong lorem
            br
            June 1, 2013 by Mike Milton











  include includes/js_section.pug
