extends base.pug

block title
  title Business Design

block body
  body
    header
      .logo
        h2 BD
        h3 Business Design
      .social
        p Join the converstion
        ul
          li
            a(href="#")
              i.fa.fa-facebook-official
          li
            a(href="#")
              i.fa.fa-twitter-square
          li
            a(href="#")
              i.fa.fa-google-plus-square
          li
            a(href="#")
              i.fa.fa-youtube-square
      nav
        ul.main-nav
          li
            a(href="#")
              i.fa.fa-home Home
          li
            a(href="#")
              i.fa.fa-info About us
          li
            a(href="#")
              i.fa.fa-wrench Services
          li
            a(href="#")
              i.fa.fa-pencil Blog
          li
            a(href="#")
              i.fa.fa-envelope Contact
        form
          span.search
            input(type="text",placeholder="search")
            a(href="#")
              i.fa.fa-search







  include includes/js_section.pug
