extends base.pug

block title
  title Business Design

block body
  body
    header
      .logo
        h2 BD
        h3 Business Design
      .social
        p Join the converstion
        ul
          li
            a(href="#")
              i.fa.fa-facebook-official
          li
            a(href="#")
              i.fa.fa-twitter-square
          li
            a(href="#")
              i.fa.fa-google-plus-square
          li
            a(href="#")
              i.fa.fa-youtube-square
      nav
        ul.main-nav
          li
            a(href="#")
              i.fa.fa-home Home
          li
            a(href="#")
              i.fa.fa-info About us
          li
            a(href="#")
              i.fa.fa-wrench Services
          li
            a(href="#")
              i.fa.fa-pencil Blog
          li
            a(href="#")
              i.fa.fa-envelope Contact
        form
          span.search
            input(type="text",placeholder="search")
            a(href="#")
              i.fa.fa-search
    .slider
      a.slider-prev(href="#")
        i.fa.fa-chevron-left
      a.slider-next(href="#")
        i.fa.fa-chevron-right
      img.slide-image(src="../img/mobile-devices.png")
      .slide-content
        h3.slider-title Business Services
          br
          span for the Twenty-First Century
        a.slider-button(href="#") LEARN MORE &nbsp;
          i.fa.fa-angle-double-right
          br
          span Find out how we can help your business











  include includes/js_section.pug
